# CDK
cdk.out/
cdk.context.json

# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Virtual environment
.env
.venv
venv/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# AWS
*.pem

# Logs
*.log

# Build / dist
dist/
build/
*.zip
.pytest_cache/
